/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: futura, helvetica;
}

/* Header begin */
.navbar {
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    background-color: #000000;

}

.nav {
    display: inline;
}

nav ul {
    display: flex;
}

.asos-logo {
    width: 5em;
    height: 1.5em;
    margin: 0em 0.5em;
}

/* Buttons begin */
.menuButton {
    font-size: 1.5em;
}


.searchButton {
    font-size: 1.5em;
    margin: 0em 0.5em;
    margin-left: auto;
}

.bx {
    color: white;
}

.userButton {
    font-size: 1.5em;
    margin: 0em 0.5em;
}

.heartButton {
    font-size: 1.5em;
    margin: 0em 0.5em;
}

.shoppingBagButton {
    font-size: 1.5em;
    margin: 0em 0.5em;
}

/* Buttons eind */

/* Menu begin */
form {
    background-color: black;
    position: absolute;
    left: 0;
    top: 3.5em;
    border-bottom: 0;
    transform: translateX(-100%);
    transition: 1s;
}

.a_menu {
    text-decoration: none;
    color: white;

}

.li_menu {
    padding: 2em;
}

form.toonMenu {
    transform: translateX(0%);
}

.startpagina,
.nieuw,
.kleding,
.schoenen {
    padding: 1em;
    transition: 1s;
}

.startpagina:hover {
    background-color: white;
    color: black;
}

.nieuw:hover {
    background-color: white;
    color: black;
}

.kleding:hover {
    background-color: white;
    color: black;
}

.schoenen:hover {
    background-color: white;
    color: black;
}

.startpagina:focus {
    background-color: #ebd934;
    color: #eb4034;
}

.nieuw:focus {
    background-color: #ebd934;
    color: #eb4034;
}

.kleding:focus {
    background-color: #ebd934;
    color: #eb4034;
}

.schoenen:focus {
    background-color: #ebd934;
    color: #eb4034;
}

/* Menu eind */
/* Header eind */

/* Main begin */
.image1 {
    max-width: 100%;
    height: auto;
}

.image2 {
    max-width: 100%;
    height: auto;
    margin: 2em 0 0 0;
}

.image3 {
    max-width: 100%;
    height: auto;
    margin: 2em 0 0 0;
}

.image-kerst {
    position: relative;
}

/* bron: https://www.tutorialspoint.com/How-to-position-text-to-center-on-an-image-with-CSS*/

.image-kerst p {
    position: absolute;
    text-align: center;
    background-color: white;
    font-size: 1.5em;
    padding: 1em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.image-ster {
    position: relative;
}

.image-ster p {
    position: absolute;
    text-align: center;
    background-color: white;
    font-size: 1.5em;
    padding: 1em;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

/* SHOP NU! Button */
.image-ster button {
    position: absolute;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 1.5em;
    padding: 1em;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    border: 3px solid white;
    transition-duration: 0.5s;
}

.image-ster button:hover {
    background-color: white;
    color: black;
}

.image-ster button:focus {
    background-color: #ebd934;
    color: #eb4034;
}

/* SHOP NU! Button */

.image-loungekleding {

    max-width: 100%;
    height: auto;
    transition: box-shadow .5s;
}

.image-kerstkleding {
    max-width: 100%;
    height: auto;
    transition: box-shadow .5s;
}

.image-winterkleding {
    max-width: 100%;
    height: auto;
    transition: box-shadow .5s;
}

.image-sneakers {
    max-width: 100%;
    height: auto;
    transition: box-shadow .5s;
}

.image-loungekleding:hover {
    box-shadow: 10px 10px 5px grey;
}

.image-kerstkleding:hover {
    box-shadow: 10px 10px 5px grey;
}

.image-winterkleding:hover {
    box-shadow: 10px 10px 5px grey;
}

.image-sneakers:hover {
    box-shadow: 10px 10px 5px grey;
}

.kleding1,
.kleding2,
.kleding3,
.kleding4,
.kleding5,
.kleding6 {
    color: black;
    text-decoration: none;

}

.image-loungekleding1:hover {
    box-shadow: 10px 10px 5px grey;
}

.image-loungekleding2:hover {
    box-shadow: 10px 10px 5px grey;
}

.image-loungekleding3:hover {
    box-shadow: 10px 10px 5px grey;
}

.image-loungekleding4:hover {
    box-shadow: 10px 10px 5px grey;
}

.image-loungekleding5:hover {
    box-shadow: 10px 10px 5px grey;
}

.image-loungekleding6:hover {
    box-shadow: 10px 10px 5px grey;
}


.kleding1:focus {
    color: #eb4034;
}

.kleding2:focus {
    color: #eb4034;
}

.kleding3:focus {
    color: #eb4034;
}

.kleding4:focus {
    color: #eb4034;
}

.kleding5:focus {
    color: #eb4034;
}

.kleding6:focus {
    color: #eb4034;
}

.list_kleding {

    list-style: none;
    margin: 2em 0 0 0;
    padding: 0 2em 2em 2em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
}

h2 {
    text-align: center;
    margin: 1em;
    font-size: 0.8em;
}

.gif {
    max-width: 100%;
    height: auto;
    margin: 2em 0 0 0;
}

/* Main eind */

/* Footer begin */
footer p {
    text-align: center;
    background-color: black;
    color: white;
}

/* Footer eind */

/* Pagina 2 Loungekleding */
.titel h1 {
    text-align: center;
    margin: 1em;
}

.image-loungekleding1,
.image-loungekleding2,
.image-loungekleding3,
.image-loungekleding4,
.image-loungekleding5,
.image-loungekleding6 {

    max-width: 100%;
    height: auto;
    transition: .5s;

}

/* Pagina 2 Loungekleding eind */

/* media query begin */
@media (min-width:40em) {

    .image1,
    .image2,
    .image3,
    .gif {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

/* media query eind */
